<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow">

    <div class="container">

        <a class="navbar-brand fw-bold fs-3" routerLink="/">
             Gym Inacap
        </a>

        <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Inicio</a>
                </li>

                <li class="nav-item"
                    *ngIf="logueado">
                    <a class="nav-link" routerLink="/formulario">
                      Formulario
                    </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" routerLink="/about">Nosotros</a>
                </li>
                <li class="nav-item"
                    *ngIf="logueado">

                  <a class="nav-link text-danger"
                      style="cursor:pointer"
                      (click)="cerrarSesion()">

                       Cerrar sesión

                    </a>

                  </li>

            </ul>

        </div>

    </div>

</nav>