.login-card{

    border-radius:20px;
    width:430px;

}

.card{

    border:none;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.form-control{

    border-radius:10px;

}

.btn{

    border-radius:10px;

    font-weight:bold;

}