body{
    background: #f5f5f5;
}

.login-card{
    width: 430px;
}

.card{
    transition: .3s;
}

.card:hover{
    transform: scale(1.02);
}

.form-control{
    border-radius: 12px;
}

.btn{
    border-radius: 12px;
    font-weight: bold;
}